*{
    box-sizing: border-box;
}

body {
    margin: 0;
    user-select: none;
}

@font-face {
    font-family: "Salsa";
    src: url("/fonts/Salsa-Regular.ttf") format("truetype"); 
    font-display: swap;
}

.intro-wish {
    
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    background-color: #B72720;
    background-image: url("/photos/bg2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.wish-container{

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: fit-content;
    align-self: center;
    font-size: 42px;
    font-family: "Salsa", sans-serif;
    max-width: 50%;
    width: 100%;
    height: auto;
    text-align: center;
}

.audio-container {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f79e83;
    border-radius: 30px;
    max-width: fit-content;
}

.img-container {

    position: absolute;
    inset: 0;
    pointer-events: none;
}

.dipak{
    
    position: absolute;
    bottom: 0;
    max-height: 300px;
}

.dipak-left {

    left: 5px;
}

.dipak-right {

    right: 5px;
}

.music-icon {
    max-width: 30px;
    min-height: 40px;
    margin-inline: 15px;
}

.music-title{
    font-size: 18px;
    color: black;
    padding: 4px;
}   

.sound-icon {
    max-width: 60px;
    min-height: 60px;
    padding: 4px;
}

audio::-webkit-media-controls-panel {
    background-color: #f79e83;
    color: white;
}

@media (max-width : 1310px) {

    .intro-wish {
        background-size: cover;
    }

    .wish-container p{

        font-size: 35px;
        text-align: center;
    }

    .audio-container {
        margin: auto;
    }

    .dipak {
        max-height: 250px;
     }
}
@media (max-width : 1148px) {

    .wish-container {
        display: flex;
        flex-direction: column;
        transform: translateY(40%);
    }

    .wish-container p {

        font-size: 30px;
    }

    .music-title{
        display: none;
    }
}

@media (max-width : 980px) {

    .intro-wish {
        background-size: cover;
    }

    .wish-container {
        max-width: 55%;
        transform: translateY(40%);
    }

    .wish-container p{
        font-size: 25px;
        text-align: center;
        max-width : 450px;
    }

    .audio-container {
        max-width: 75%;
    }

     .dipak{
        max-height: 220px;
    }
}

@media (max-width : 780px) {


    .wish-container {

        transform: translateY(40%);
    }

    .wish-container p{
        font-size: 25px;
        text-align: center;
        max-width : 450px;
    }

    .dipak{
        max-height: 180px;
    }

    .sound-icon {
        display: none;
    }
}

@media (max-width : 645px) {

    .wish-container {

        max-width: fit-content;
        transform: translateY(40%);
    }

    .wish-container p{
        font-size: 20px;
    }

    .dipak{

        max-height: 110px;
    }
}