body {

    margin: 0;
    user-select: none;
}

@font-face {
    font-family: "Salsa";
    src: url("/fonts/Salsa-Regular.ttf") format("truetype"); 
    font-display: swap;
}

/* section {
  padding: clamp(1rem, 4vw, 4rem);
} */

.hero-section {

    min-height: 100vh;
    max-width: 100%;
    background-color: #B72720;
    background-image: url("/photos/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-container {

    display: flex;
    justify-content: space-between;
    order: 2;

}

.dipak{
    max-width: 100%;
    max-height: 200px;
}

.wish-container{

    color: white;
    order: 1;
    width: fit-content;
    /* border: 2px solid white; */
    align-self: center;
    font-size: 42px;
    font-family: "Salsa", sans-serif;
    max-width: 560px;  
    text-align: center; 
}

.audio-container {

    display: flex;
    align-items: center;
    border: 1px solid white;
    max-width: fit-content;
    background-color: #f79e83;
    border-radius: 30px;
    /* padding: 2px; */
}

.music-icon {
    max-width: 30px;
    min-height: 40px;
    padding: 16px;
}

.music-title{
    font-size: 18px;
    color: black;
    /* border: 1px solid white; */
    padding: 4px;
}   

.sound-icon {
    max-width: 60px;
    min-height: 60px;
    padding: 4px;
}

audio::-webkit-media-controls-panel {
    background-color: #f79e83;
    color: white;
}   

@media (max-width : 1310px) {

    .hero-section {

        /* min-height: 75vh; */
        background-size: cover;
    }

    .wish-container p{

        font-size: 30px;
        text-align: center;
    }
    .audio-container {

        margin: auto;
    }
}

@media (max-width : 1148px) {

    /* .hero-section {

        min-height: 70vh;
    } */

    .wish-container {
        display: flex;
        flex-direction: column;
        transform: translate(0px,60px);
    }

        .wish1{
        transform: translate(0px, -80px);
    }

    .wish2{
        transform: translate(0px, -105px);
    }

    .audio-container{

        transform: translate(0px, -95px);;
    }

    .music-title{
        display: none;
    }
    .sound-icon{
        display: none;
    }

}
@media (max-width : 980px) {

    .hero-section {

        /* min-height: 65vh; */
        background-size: cover;
    }
    .wish-container p{

        font-size: 20px;
        text-align: center;
        max-width : 400px
    }
    .audio-container {

        max-width: 70%;
    }
}

@media (max-width : 780px) {

        .dipak{

            min-height: 200px;
            max-width: 200px;
        }
}

@media (max-width : 645px) {

        .hero-section{

            .audio{
                transform: translate(-15px);
            }

            .dipak{

                min-height: 150px;
                max-width: 150px;
            }
        }
    }