

@font-face {

    font-family: "StyleScript";
    src: url("/fonts/StyleScript-Regular.ttf") format(truetype);
    font-display: swap;
}

.main-wish{
    background-color: #7B1310;
}

.dev-devi1{

    max-width: 75%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    margin-inline: auto;
}

.horizontal-divider {

    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 10px);
    margin-bottom: 30px;
}

.horizontal-line {

    min-height: 4px;
    background-color: white;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    opacity: 0.7;
}

.circle {

    height: 20px;
    width: 20px;
    background-color: white;
    opacity: 0.6;
    border-radius: 100%;
    flex-shrink: 0;
}

.wish2{

    font-size: 40px;
    color: white;
    font-family: StyleScript, cursive;
    font-weight: normal;
    text-align: center;
}

.card-container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {

    display: inline-block;
    max-width: 350px;
    width: 100%;
    min-height: 300px;
    background-color: white;
    padding: min(5em, 4%);
    text-align: left;
    font-size: 22.1px;
    border-radius: 22px;
    transform: translate(80px);
    font-family: "Salsa", sans-serif;
}

.diya-girl{

    max-width: 250px;
    width: 100%;
    height: auto;
    z-index: 1;
}

@media (max-width : 840px) {

    .card{

        transform: translate(65px);
    }
}

@media (max-width : 420px) {

    .card{
        font-size: 14.5px;
        transform: translate(40px);
        min-height: 250px;
    }

    .diya-girl{

        max-width: 180px;
    }

    .horizontal-divider {

        gap: 10px;
    }

    .circle {
        height: 10px;
        width: 10px;
    }
}


