*{
    box-sizing: border-box;
}

body {

    margin: 0;
}

@font-face {

    font-family: "StyleScript";
    src: url("/fonts/StyleScript-Regular.ttf") format(truetype);
    font-display: swap;
}

.main-wish{
    background-image: url("/photos/plain-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.1px solid white;
    
}

.dev-devi1{

    max-width: 75%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 20px;
    display: block;
    margin-inline: auto;
}

.horizontal-divider {

    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 10px);
    margin-bottom: 30px;
}

.horizontal-line {

    min-height: 4px;
    background-color: white;
    max-width: 545px;
    width: 100%;
    border-radius: 5px;
    opacity: 0.7;
}

.circle {

    height: 15px;
    width: 15px;
    background-color: white;
    opacity: 0.6;
    border-radius: 100%;
    flex-shrink: 0;
}

.wish2{

    font-size: 40px;
    color: white;
    font-family: StyleScript, cursive;
    font-weight: normal;
    text-align: center;
}

.card-container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {

    display: inline-block;
    max-width: 350px;
    width: 100%;
    min-height: 300px;
    background-color: white;
    padding: min(5em, 4%);
    text-align: left;
    font-size: 22.1px;
    border-radius: 22px;
    transform: translate(80px);
    font-family: "Salsa", sans-serif;
}

.diya-girl{
    max-width: 250px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.dev-devi2-container{
    max-width: 1200px; 
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.dev-devi2{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.end-wish {

    color: white;
    font-family: "Salsa", sans-serif;
    font-size: 25px;
    width: fit-content;
    margin-left: 70px;
}

.end-wish2 {
    transform: translate(0px, -60px);
    color: white;
    font-family: StyleScript;
    text-align: start;  
    font-size: 50px;
    font-weight: normal;
    margin-left: 70px;
    width: fit-content;
}

.my-name {

    color: white;
    text-align: end;
    margin-right: 15px;
    font-family: Salsa;
    font-size: 14px;
}

@media (max-width : 840px) {

    .card{
        transform: translate(65px);
    }

     .end-wish{
        font-size: 35px;
        margin-top: 70px;
        margin-left: 90px;
    }
    .end-wish2{
        font-size: 65px;
        margin-left: 90px;
    }
}

@media (max-width : 420px) {

    .card{
        font-size: 14.5px;
        transform: translate(40px);
        min-height: 250px;
    }

    .diya-girl{
        max-width: 180px;
    }

    .horizontal-divider {
        gap: 10px;
    }

    .circle {
        height: 10px;
        width: 10px;
    }

    .end-wish{
        font-size: 18px;
        margin-top: 40px;
        margin-left: 70px;
    }
    .end-wish2{
        font-size: 33px;
        margin-left: 70px;
    }
}